
$flyoutWidth: 15.5rem;

.contentArea {
	margin: 5.5rem 2rem 0;
	transition: padding-left 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.appBar {
	padding-left: 0;
	transition: padding-left 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.contentAreaShifted, .appBarShifted {
	padding-left: $flyoutWidth + 2;
	transition: padding-left 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.buttonBar {
	margin: 0 0 1.5rem;
	text-align: right;
}

.book {
	padding: .2rem;

	.title {
		font-family: 'Times New Roman', Times, serif;
		font-size: 1.15rem;
		font-style: italic;
		padding-right: 0.5rem;
		&:after {
			content: ',';
		}
	}

	.author {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1rem;
		font-style: normal;
		padding-right: 0.5rem;
	}
	
	.year {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.85rem;
		color: gray;
	}

	.awardTags {
		padding-left: .5rem;
	}

	svg {
		width: 1rem;
		height: 1rem;
		margin-right: 0.5rem;
	}

	svg .particallyRead {
		color: gray;
	}
}

.book.noEntry {
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.15rem;
	color: gray;

	svg {
		visibility: hidden;
	}
}

.seriesBook {
	padding-left: 2rem;

	.title {
		font-size: 1rem;
		padding-right: 0.35rem;
	}

	.author {
		font-size: 0.9rem;
		padding-right: 0.35rem;
	}

	.year {
		font-size: 0.75rem;
	}

	svg {
		width: 0.9rem;
		height: 0.9rem;
		margin-right: 0.35rem;
		color: darkgray;
	}
}

.author {
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
}

.expansionPanel {
	div:first-child > div {
		font-family: Arial, Helvetica, sans-serif;
		font-weight: 500;
		font-size: 1.1rem;
		.summaryLeft {
			width: 100%;
			font-size: 1.5rem;
			font-weight: 500;
			display: flex;
		}
		.summaryRight {
			display: flex;
			font-size: 1.2rem;
			padding-right: 0;
		}
	}
	.expansionDetailsRoot {
		padding-top: 0;
	}
	.expansionDetails {
		display: block;
	}
	.MuiExpansionPanelSummary-content-222 {
		margin: 0;
	}
}

.flyoutPaper {
	padding: 0.5rem 1rem;
	width: $flyoutWidth;
	background-color: #F8F8F8 !important;
	.flyoutHeader {
		display: flex;
		justify-content: flex-end;
	}
	.sectionHeading {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1.2rem;
		padding: 0.5rem 0;
	}
	.heading {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1rem;
		padding: 0.5rem 0 0 1rem;
	}
	.checkboxList {
		padding-top: 0.2rem;
		padding-left: 1rem;
		label {
			margin-left: 0;
			span:first-child {
				padding: 0.2rem 0.2rem 0.2rem 0;
				span {
					font-size: 0.75rem;
				}
				svg {
					width: 1.1rem;
					height: 1.0rem;
				}
			}
			span {
				font-size: 0.825rem;
			}
		}
	}
	.flyoutSection {
		padding-bottom: 1rem;
	}
	.rangeContainer {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.8rem;
		margin-left: 1rem;
		.rangeLabel {
			padding: 0.5rem 0 0;
			align-self: center;
			width: 2.5rem;
		}
		.labeledInput {
			width: 9.5rem;
		}
		.unlabeledInput {
			width: 12rem;
		}
	}
	.dateRange {
		display: inline-flex
	}
}

.awardBadgeRoot {
	.awardBadge {
		top: 50%;
		font-size: .025rem;
	}
}

.summaryBadgeRoot {
	margin-left: 1rem;
	.summaryBadge {
		top: 50%;
		font-size: 1.2rem;
		height: 1.8rem;
		width: 1.8rem;
		position: relative;
		border-radius: 50%;
	}
}


.awardTag {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: ivory;
	font-size: 0.65rem;
	padding: 0.1rem 0.3rem;
	margin: 0 0.1rem;
	border-radius: 10%;
}

.awardTagAnnual {
	@extend .awardTag;
	background-color: darkslateblue;
}

.awardTagTop100 {
	@extend .awardTag;
	background-color: firebrick;
}

.awardSummary {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1rem;
}
